<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron card card-block home-card" style="width: 28rem; margin-right: auto; margin-left: auto; margin-top: auto; margin-top:  10rem;">
				<h2>
					Hello, I'm 3JMCoding
				</h2>
				
				<p>
					Specializing in building software and web applications according to customer specifications. I currently specialize in Ruby on Rails and JavaScript development but I have plans to specialize in Python, C++, and C# in the near future!
				</p>
				<div class="row inner">
					<p class="col-md-4">
						<a class="btn btn-info btn-large" routerLink="/about-me">About Me</a>
					</p>
					<p class="col-md-4">
						<a class="btn btn-info btn-large" routerLink="/projects">Project</a>
					</p>
					<p class="col-md-4">
						<a class="btn btn-info btn-large" routerLink="/contact">Contact</a>
					</p>
				</div>	
			</div>
		</div>
	</div>
</div>