@media (max-width: 800px) {
	div .row .col-md-12 .jumbotron .inner p {
		display: none;
	}
}


div p, h2{
	color: #c79f7c;
}
div p a{
	color: #c2a68d;
	background-color: #5c5959;
}
.home-card {
	background: rgba(85, 92, 151, 0.75);
}