<div class="album text-muted">
	<div class="container">
		<h1>Portfolio Items</h1>
  	<div class="row">
  		
  		<div *ngFor="let item of pageOfItems" class="col-md-4">

	    	<div class="card row" style="">
	    
	    		<p class="card-text">
	    			{{ item.portfolio_title }}
	    		</p>
	    		<p class="card-text">
	    			{{ item.tools }}
	    		</p>
	    		<img src="https://thumbs.dreamstime.com/z/website-menu-template-23529345.jpg" alt="img" style="max-width: 10rem; max-height: 10rem;">
	    		<div>
		    		<a target="_blank" href="{{ item.github_url }}" class="btn btn-info card-text col-md-6" style="max-width: 5rem;">
		    			Github Link
		    		</a>
		    		<a target="_blank" href="{{ item.heroku_url }}" class="btn btn-info card-text col-md-6" style="max-width: 5rem;">
		    			Preview Link
		    		</a>

	    		</div>
	    	</div>
	    </div>
	    <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>	
    </div>
  </div>
</div>