<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron card card-block home-card" style="width: 28rem; margin-right: auto; margin-left: auto; margin-top: auto; margin-top:  10rem;">
				<h2>
					Contact, 3JMCoding
				</h2>
				<div class="row inner">
					<p class="col-md-6 btn btn-info btn-large">
						(503)680-3865
					</p>
					<p class="col-md-6">
						<a class="btn btn-info btn-large" href="mailto:matthew-martin@lambdastudents.com">Email Me</a>
					</p>
				</div>	
			</div>
		</div>
	</div>
</div>