
<div class="container-fluid">
	<h3 class="middle">3JMCoding Bug Tracker</h3>
	<div>
		<a routerLink='/bug-tracker/new'>New Issue</a>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Issue
						</th>
						<th>
							Tools Used
						</th>
						<th>
							Github Url
						</th>
					</tr>
				</thead>
					<tbody *ngFor="let item of pageOfItems">
						<tr>
							<td>
								{{item.id}}
							</td>
							<td>
								{{item.bug_issue}}
							</td>
							<td>
								{{item.tools}}
							</td>
							<td>
								{{item.github_url}}
							</td>
						</tr>
					</tbody>
				<div>
					<jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
				</div>
			</table>
		</div>
	</div>
</div>