/* You can add global styles to this file, and also import other style files */
body {
	background-image: url(/assets/SplitShire-20-7123.jpg);
	background-position: center;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;

}
